* {
  box-sizing: border-box;
}

html,
body {
  font-family: monospace;
  margin: 0;
}

main {
  width: 100%;
  padding: 8px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  max-width: 640px;
}

p {
  margin: 0;
}

.container {
  width: 100%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rect {
  border-left-width: 4px;
  border-bottom-width: 4px;
  border-left-style: dashed;
  border-bottom-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 16 / 9;
}

#output {
  width: 100%;
  background-color: lightgray;
}

#buffer {
  width: 50%;
  background-color: gray;
}

[data-transform="0"] {
  transform: rotate(0deg);
}

[data-transform="90"] {
  transform: rotate(90deg);
}

[data-transform="180"] {
  transform: rotate(180deg);
}

[data-transform="270"] {
  transform: rotate(270deg);
}

[data-transform="f-0"] {
  transform: scale(-1, 1) rotate(0deg);
}

[data-transform="f-90"] {
  transform: scale(-1, 1) rotate(90deg);
}

[data-transform="f-180"] {
  transform: scale(-1, 1) rotate(180deg);
}

[data-transform="f-270"] {
  transform: scale(-1, 1) rotate(270deg);
}

.controls {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  gap: 8px;
}

.option {
  border-radius: 8px;
  background-color: lightgray;
  width: 100%;
  display: flex;
  justify-content: center;
  transition: all 0.1s;
}

.option span {
  display: block;
  padding: 4px 16px;
}

.option input {
  appearance: none;
  position: absolute;
  margin: 0;
}

.option:has(input:checked) {
  background-color: lightcoral;
}
